<div class='footer-container'>
  <div class='footer-column'>
    <span class="fas fa-phone-volume"></span>
    <a href="tel:+375291601334">Звоните: +375 (29) 160-13-34</a>
  </div>
  <div class='footer-column'>
    <span class="fas fa-at"></span>
    <a href="mailto:375291601334@mail.ru">Пишите: 375291601334@mail.ru</a>
  </div>
  <div class='footer-column'>
    <div>
      <h4>Социальные сети:</h4>
      <div class='social-links'> 
        <a href="https://www.linkedin.com/in/hushchaa" target="_blank" class="fab fa-linkedin"></a>
        <a href="https://t.me/a375291601334" target="_blank" class="fab fa-telegram"></a>
        <a href="https://vk.com/id142226257" target="_blank" class="fab fa-vk"></a>
      </div>
    </div>
  </div>
  <a class='footer-column' href="https://github.com/375291601334" target="_blank">
    <span class="fab fa-github"></span>
    <h4>GitHub</h4>
  </a>
  <p class='paternity'>© Гущо Анастасия, 2019</p>
</div>
