<div class='footer-container'>
  <div class='footer-column'>
    <span class="fas fa-phone-volume"></span>
    <div>
      <h4>Звоните:</h4>
      <p>+375 (29) 160-13-34</p>
    </div>
  </div>
  <div class='footer-column'>
    <span class="fas fa-at"></span>
    <div>
      <h4>Пишите:</h4>
      <p>375291601334@mail.ru</p>
    </div>
  </div>
  <div class='footer-column'>
    <div>
      <h4>Социальные сети:</h4>
      <a href="https://www.linkedin.com/in/hushchaa" target="_blank" class="fab fa-linkedin"></a>
      <a href="https://web.telegram.org/@a375291601334" target="_blank" class="fab fa-telegram"></a>
      <a href="https://vk.com/id142226257" target="_blank" class="fab fa-vk"></a>
    </div>
  </div>
  <a class='footer-column' href="https://github.com/375291601334" target="_blank">
    <span class="fab fa-github"></span>
    <h4>GitHub</h4>
  </a>
  <p class='paternity'>© Гущо Анастасия, 2019</p>
</div>
