.footer-container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Garamond', serif;
  background-color: #E83556;
  color: #61D0D4;
  text-align: center;
}

h4,
p {
  margin: 0 10px;;
}

.footer-column {
  display: flex;
  flex-wrap: nowrap;
  margin: 40px 50px;
  font-size: 1.2rem;
  align-items: center;
}

span {
  font-size: 3rem;
}

a {
  margin: 0 5px;
  padding: 5px;
  color: #61D0D4;
  text-decoration: none;
}

.paternity {
  position: absolute;
  right: 0;
  align-self:  flex-end;
  padding: 10px;
}

.social-links {
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
}

a:hover {
  padding: 4px;
  border: 1px dashed #61D0D4;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 10px;
    font-size: 1rem;
  }

  .social-links,
  span {
    font-size: 1.5rem;
  }

  .paternity {
    position: static;
  }
}
