<header>
  <div class='logo'>
    <h1>Гущо Анастасия</h1>
    <h2>Веб-разработчик</h2>
  </div>

  <ul class='navigation-bar'>
    <li class='navigation-item'><a routerLink='/home' routerLinkActive='active'>Главная</a></li>
    <li class='navigation-item'><a routerLink='/cv' routerLinkActive='active'>Резюме</a></li>
    <li class='navigation-item'><a routerLink='/projects' routerLinkActive='active'>Проекты</a></li>
    <li class='navigation-item'><a routerLink='/contacts' routerLinkActive='active'>Контакты</a></li>
  </ul>
</header>
