<div class="container">
  <div>
    <h2>Пишите,</h2>
    <p>Я обязательно отвечу в самое ближайшее время.</p>
    <div class="contact-info">
      <p>+375 (29) 160-13-34</p>
      <p>375291601334@mail.ru</p>
    </div>
  </div>

  <form action="https://formspree.io/375291601334@mail.ru" method="POST">
    <label for="name">Имя:</label><input type="text" name="name" id="name">
    <label for="email">Email:</label><input type="email" name="_replyto" id="email">
    <label for="message">Сообщение:</label><textarea id="message"></textarea>
    <input type="submit" value="Отправить">
  </form>
</div>
