<main>

  <div class="circle">
    <img src='assets/foto.jpg' height='400' width='400'>
  </div>

  <article>
    <h3>Немного обо мне:</h3>
    <p>
      Меня зовут Настя. Родилась в Беларуси, в небольшом городке Мяделе.
      Там окончила гимназию (с золотой медалью). Высшее образование получала уже в Минске,
      поступила в БГЭУ на специальность экономическая кибернетика. В 2017 году закончила его,
      получив красный диплом и защитив дипломную работу по теме "Разработка и использованиематематических
      моделей оптимизации кредитного портфеля банка (на примере ЗАО Альфа-Банк)".
    </p>
    <p>
      Работать начала еще во время обучения на четветом курсе университета. Моей первой работой стала работа
      back-end разработчика в банке. Там я разрабатывала на языке
      <a href="https://habr.com/ru/company/pvs-studio/blog/345064/">RPG IV</a>, SQL...
    </p>
  </article>

</main>
