main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  font-family: 'Garamond', serif;
  overflow: hidden;
}

.circle {
	border-radius: 50%;
	cursor: pointer;
}

article {
  width: 800px;
  margin: 0 50px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #4D4D4D;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  color: #6B6B6B;
  text-indent: 3rem;
}
