<main>

  <div class="circle">
    <img src='assets/foto.png'>
  </div>

  <article>
    <h3>Немного обо мне:</h3>
    <p>
      Меня зовут Настя. Родилась в Беларуси, в небольшом городке Мяделе.
      Там окончила гимназию (с золотой медалью). Высшее образование получала уже в Минске,
      поступила в БГЭУ на специальность экономическая кибернетика. В 2017 году закончила его,
      получив красный диплом и защитив дипломную работу по теме "Разработка и использование математических
      моделей оптимизации кредитного портфеля банка (на примере ЗАО Альфа-Банк)".
    </p>
    <p>
      Работать начала еще во время обучения на четветом курсе университета. Моей первой работой стала позиция
      back-end разработчика в банке. Там я разрабатывала на языке
      <a href="https://habr.com/ru/company/pvs-studio/blog/345064/" target="_blank">RPG IV</a>, SQL (DB2), 
      участвовала в разработке многих процессов и продуктов. 
    </p>
    <p>
      Затем решила сменить вектор своей деятельности и начала изучать веб-разработку. Окончила курсы IBA "JavaScript. Fundamentals",
      <a href="https://rollingscopes.com/" target="_blank">Rolling Scopes School</a> (набор 2018Q3). По окончанию Rolling Scopes 
      School предложили работу в качестве Junior JS software engeneer в компании EPAM, где я сейчас и работаю. В числе моих навыков: 
      HTML, CSS, JavaScript (JS core), Angular, React, redux и некоторые другие.
    </p>
    <p>
      Больше о моих навыках, образовании, опыте работы, а также примеры моих работ можно посмотеть, перейдя по соответствующей вкладке сайта.
    </p>
  </article>

</main>
