h3 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #4D4D4D;
  text-align: center;
  text-transform: uppercase;
}

.grid-item {
  width: 60%;
}

.right-block {
  width: 40%;
  position: absolute;
  right: 0;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  font-size: 2rem;
  font-family: 'Garamond', serif;
  font-weight: bold;
  color: #4D4D4D;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #4D4D4D;
}

.container {
  display: grid;
  position: relative;
  font-family: 'Garamond', serif;
  color: #4D4D4D;
  margin-bottom: 130px;
}

table {
  width: 40%;
  margin: 0 auto;
}

td {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4D4D4D;
}

i {
  color: #E83556;
}
