<h3>Резюме:</h3>

<div class="container">
  <div>
    <div>
      <h4>Образование:</h4>
      <app-timeline [items]="education"></app-timeline>
    </div>

    <div>
      <h4>Опыт работы:</h4>
      <app-timeline [items]="work_experience"></app-timeline>
    </div>
  </div>  

  <div>
    <button><a href="assets/HushchaA.pdf" download="">Скачать CV</a></button>
    <h4>Ключевые навыки:</h4>
    <p><i class="fas fa-book"></i> {{"English Level - B1" | uppercase }}</p>
    <table>
      <tbody>
        <tr *ngFor="let skill of skills">
          <td>
            {{skill.name}}
          </td>
          <td>
            <i *ngFor="let i of [].constructor(skill.stars)" class="fas fa-star"></i>
          </td>
        </tr>
        <br>
      </tbody>
    </table>
  </div>

</div>
